https://www.djangoproject.com/download/1.7c1/tarball/
djangorestframework==3.11.2
Markdown==2.4.1
django-filter==2.4.0
selenium==2.42.1
git+https://github.com/galuszkak/django-behave#egg=django-behave
behave==1.2.4
behaving==0.7